.bose {
    @include section-padding(52px,100px,170px);
    position: relative;
  & .container {
    margin: 0;
    @include mq(tablet) {
      display: flex;
      flex-direction: row;
      height: 297px;
      padding-left: 60px;
      gap: 60px;
    }
    @include mq(desktop) {
      padding-left: 190px;
      height: 586px;
      gap: 170px;
    }
  }
  &__title {
    @include font-style(600, 24px);
    font-family: $font-family;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $title-color;
    padding-bottom: 32px;
    margin: 0;
    @include mq(tablet) {
      font-size: 30px;
    }
    @include mq(desktop) {
      font-size: 54px;
    }
  }
  &__subtitle {
    @include font-style(600, 20px);
    font-family: $font-family;
    color: $title-color;
    padding-bottom: 16px;
    margin: 0;
    @include mq(desktop) {
      font-size: 28px;
    }
  }
  &__desc {
    @include font-style(400, 14px);
    font-family: $font-family;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 32px;
    margin: 0;
    @include mq(tablet) {
      width: 285px;
      font-size: 16px;
      line-height: 145%;
    }
    @include mq(desktop) {
      font-size: 20px;
      width: 350px;
    }
  }
  &__text {
    width: 280px;
    display: flex;
    flex-direction: column;
    @include mq(tablet) {
      width: 294px;
    }
    @include mq(desktop) {
      width: 380px;
    }
  }
  &__image {
    position: absolute;
    right: 0;
    width: 280px;
    height: 253px;
    @include mq(tablet) {
      width: 354px;
      height: 297px;
    }
    @include mq(desktop) {
      width: 700px;
      height: 586px;
    }
  }
}
