.capable {
  .container {
    @include mq(tablet) {
      width: 708px;
      padding: 0;
    }

    @include mq(desktop) {
      width: 1250px;
      padding: 0 0 0 95px;
    }
  }
  &__item {
    &--ball {
      display: flex;
      align-items: center;
      gap: 24px;
      &::before {
        display: inline-block;
        content: '';
        width: 13px;
        height: 13px;
        border-radius: 100%;
        background-color: #df3d3a;
      }
    }
  }

  &__redlist {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    margin: 0;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__bulletlist {
    @include mq(desktop) {
      display: flex;
      gap: 42px;
    }
  }

  &__text {
    @include base;
    color: $second-color;
    margin: 0;

    @include mq(tablet) {
      font-size: 16px;
      br {
        display: none;
      }
    }

    @include mq(desktop) {
      font-size: 20px;
      line-height: 145%;
      width: 468px;
    }
  }

  &__title {
    font-family: var(--font-family);
    @include title;
    color: $first-color;
    margin: 0 0 32px 0;

    @include mq(tablet) {
      font-size: 30px;
      width: 294px;
    }

    @include mq(desktop) {
      font-size: 54px;
      width: 468px;
    }

    &--capable {
      font-family: var(--font-family);
      @include title;
      color: $first-color;
      margin: 0 0 32px 0;

      @include mq(tablet) {
        br {
          display: none;
        }
      }

      @include mq(desktop) {
        font-size: 54px;
        br {
          display: none;
        }
      }
    }
  }
}
