.feedback {
  background: #191919;

  @include section-padding(20px, 50px, 100px);

  @include mq(desktop) {
    position: relative;
    min-height: 1210px;
    padding-top: 695px;
    overflow: hidden;
    margin-top: 100px;
  }

  &__image {
    @include mq(tablet) {
      width: 648px;
      height: 360px;
    }

    @include mq(desktop) {
      width: 1440px;
      height: auto;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }
}

.feedback__link {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #ffffffcc;
}

.feedback__title {
  width: 121px;
  height: 29px;
  color: #e7e7e7;
  font-family: Gilroy;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 2%;
  text-transform: uppercase;

  @include mq(tablet) {
    width: 400px;
    height: 36px;
    font-size: 30px;
    margin-top: 100px;
  }

  @include mq(desktop) {
    height: 65px;
    font-size: 54px;
    margin-top: 0;
  }
}

.feedback__description {
  width: 281px;
  height: 40px;
  color: #ffffffcc;
  font-family: Gilroy;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0%;
  margin-top: 32px;
  margin-bottom: 20px;

  @include mq(tablet) {
    width: 445px;
    height: 25px;
    font-weight: 600;
    font-size: 20px;
  }

  @include mq(desktop) {
    width: 400px;
    height: 70px;
    font-size: 28px;
  }
}

.feedback__field {
  width: 280px;
  height: 68px;
  color: #ffffffcc;
  background: none;
  border: none;
  border-bottom: 2px solid #ffffff4d;
  font-family: Gilroy;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0%;

  &:focus {
    border-bottom: 2px solid #df3d3a;
    outline: none;
  }

  @include mq(tablet) {
    width: 646px;
  }

  @include mq(desktop) {
    width: 510px;
    font-size: 20px;
    line-height: 70%;
  }
}

.feedback__message {
  width: 280px;
  height: 112px;
  color: #ffffffcc;
  background: none;
  border: none;
  border-bottom: 2px solid #ffffff4d;
  font-family: Gilroy;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0%;
  resize: none;
  padding-top: 32px;

  &:focus {
    border-bottom: 2px solid #df3d3a;
    outline: none;
  }

  @include mq(tablet) {
    width: 646px;
  }

  @include mq(desktop) {
    width: 510px;
    font-size: 20px;
  }
}

.feedback_field::placeholder {
  color: #ffffff4d;
}

.privacy-policy {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-family: Gilroy;
  gap: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: #ffffffcc;

  @include mq(desktop) {
    font-size: 16px;
    line-height: 160%;
    margin-top: 53px;
  }
}

.feedback__checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #e9edfa;
  background: transparent;
  margin-right: 20px;
  position: relative;

  &:checked {
    &::before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      background-image: url(../images/feedback/check.svg);
      background-size: cover;
      position: absolute;
      top: 20%;
      left: 60%;
      transform: translate(-50%, -50%);
    }
  }
}

.feedback__button {
  display: flex;
  width: 280px;
  height: 58px;
  border: 1px solid #df3d3a;
  background: none;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-family: Gilroy;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: #ffffffe5;
  position: relative;
  cursor: pointer;

  &.draw {
    transition: color 0.25s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
      border: 2px solid transparent;
      width: 0;
      height: 0;
    }

    // This covers the top & right borders (expands right, then down)
    &::before {
      top: 0;
      left: 0;
    }

    // And this the bottom & left borders (expands left, then up)
    &::after {
      bottom: 0;
      right: 0;
    }

    // Hover styles
    &:hover::before,
    &:hover::after {
      width: 100%;
      height: 100%;
    }

    &:hover::before {
      border-top-color: $cyan; // Make borders visible
      border-right-color: $cyan;
      transition: width 0.25s ease-out,
        // Width expands first
        height 0.25s ease-out 0.25s; // And then height
    }

    &:hover::after {
      border-bottom-color: $cyan; // Make borders visible
      border-left-color: $cyan;
      transition: border-color 0s ease-out 0.5s,
        // Wait for ::before to finish before showing border
        width 0.25s ease-out 0.5s,
        // And then exanding width
        height 0.25s ease-out 0.75s; // And finally height
    }
  }

  // Inherits from .draw
  &.meet {
    &:hover {
      color: $yellow;
    }

    // Start ::after in same position as ::before
    &::after {
      top: 0;
      left: 0;
    }

    // Change colors
    &:hover::before {
      border-top-color: $yellow;
      border-right-color: $yellow;
    }

    &:hover::after {
      border-bottom-color: $yellow;
      border-left-color: $yellow;
      transition: // Animate height first, then width
        height 0.25s ease-out, width 0.25s ease-out 0.25s;
    }
  }

  @include mq(tablet) {
    width: 294px;
  }

  @include mq(desktop) {
    width: 510px;
    margin-top: 89px;
  }
}

.feedback__content {
  @include mq(desktop) {
    display: flex;
    gap: 150px;
  }
}
