.silence {
  overflow: hidden;
  background-color: #191919;
  padding: 40px 0px;

  &-title {
    font-size: 28px;
    margin-bottom: 40px;
  }

  &-features {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.silence-title {
  font-family: $font-family;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
  @include mq(tablet) {
    text-align: right;
    font-size: 30px;
  }
  @include mq(mobile) {
    text-align: right;
    font-size: 24px;
  }
  @include mq(desktop) {
    text-align: right;
    font-size: 54px;
    margin-right: -260px;
  }
}

.feature-title {
  font-family: $font-family;
  font-weight: 600;
  line-height: 125%;
  color: #e7e7e7;
  padding-top: 20px;

  @include mq(tablet) {
    font-size: 20px;
  }
  @include mq(mobile) {
    font-size: 20px;
  }
  @include mq(desktop) {
    font-size: 28px;
  }
}

.feature {
  &-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

p {
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  color: rgba(255, 255, 255, 0.8);
  @include mq(mobile) {
    font-size: 14px;
    line-height: 125%;
  }
  @include mq(tablet) {
    font-size: 16px;
  }
  @include mq(desktop) {
    font-size: 20px;
  }
}

.silence-image {
  display: block;
  justify-content: space-around;
  width: 100%;
  height: 293px;
  object-fit: cover;
  @include mq(mobile) {
    width: 280px;
  }
  @include mq(tablet) {
    width: 768px;
    margin-left: -100px;
    margin-right: -100px;
  }

  @include mq(desktop) {
    width: 1510px;
    height: 524px;
    margin-left: -415px;
    margin-right: -415px;
  }
}

@media (min-width: 768px) {
  .silence-features {
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
  }

  .feature {
    flex: 1;
  }
}
