$font-family: "Gilroy", sans-serif;
$second-family: "Roboto Condensed", sans-serif;
$third-family: "Roboto", sans-serif;

$bg: #191919;
$color-txt: rgba(255, 255, 255, 0.8);
$title-color: #e7e7e7;
$description-color: rgba(255, 255, 255, 0.8);
$background-color: #191919;