<section class="nc">
  <div class="container">
    <div class="nc__content">
      <h2 class="nc__title">bose nc 700</h2>
      <div class="nc__wrapper">
        <picture>
          <source
            srcset="
              ./images/bose-nc/headphones-mob.webp    1x,
              ./images/bose-nc/headphones-mob@4x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/bose-nc/headphones-tab.webp    1x,
              ./images/bose-nc/headphones-tab@4x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/bose-nc/headphones-desk.webp    1x,
              ./images/bose-nc/headphones-desk@4x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/bose-nc/headphones-mob.webp"
            alt="girl"
            class="nc__image"
            width="280"
            height="265"
          />
        </picture>
      </div>
      <div class="nc__wrapper white">
        <picture>
          <source
            srcset="
              ./images/bose-nc/white-mob.webp    1x,
              ./images/bose-nc/white-mob@4x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/bose-nc/white-tab.webp    1x,
              ./images/bose-nc/white-tab@4x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/bose-nc/white-desk.webp    1x,
              ./images/bose-nc/white-desk@4x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/bose-nc/white-mob.webp"
            alt="girl"
            class="nc__image white"
            width="280"
            height="265"
          />
        </picture>
      </div>
      <ul class="nc__list--button">
        <li>
          <button class="nc__button">
            <div></div>
          </button>
        </li>
        <li>
          <button class="nc__button--white">
            <div></div>
          </button>
        </li>
      </ul>
      <ul class="nc__list">
        <li class="nc__item">
          <span class="nc__line"></span>
          <a class="nc__link" href="#">Availability in stores</a>
          <svg width="22" height="23" viewBox="0 0 22 23" aria-label="arrow">
            <use href="./images/bose-nc/arrow.svg"></use>
          </svg>
        </li>
        <li class="nc__item">
          <span class="nc__line"></span>
          <a class="nc__link" href="#">Characteristics</a>
          <svg width="22" height="23" viewBox="0 0 22 23" aria-label="arrow">
            <use href="./images/bose-nc/arrow.svg"></use>
          </svg>
        </li>
        <li class="nc__item">
          <span class="nc__line"></span>
          <a class="nc__link" href="#">Payment and delivery methods</a>
          <svg width="22" height="23" viewBox="0 0 22 23" aria-label="arrow">
            <use href="./images/bose-nc/arrow.svg"></use>
          </svg>
        </li>
        <li class="nc__item">
          <span class="nc__line"></span>
        </li>
      </ul>
      <h2 class="nc__title--red">14 999 UAH</h2>
      <button class="nc__button--order">order</button>
    </div>
  </div>
</section>
