<section class="bose">
  <h2 class="bose__title">Bose AR</h2>
  <h3 class="bose__title--desc">Brand name technology</h3>
  <p class="bose__desc">
    Bose AR is a unique audio platform augmented reality, that opens before you
    new facets of sound. It allows you to stay connected to the real world and
    immerse yourself in the virtual universe at the same time.
  </p>
  <picture class="bose__picture">
    <source
      srcset="./img/bose/girl-mob.webp 1x, ./img/bose/girl-mob@2x.webp 2x"
      media="(min-width: 320px)"
      class="bose__source"
    />
    <source
      srcset="./img/bose/girl-lap.webp 1x, ./img/bose/girl-lap@2x.webp 2x"
      media="(min-width: 768px)"
      class="bose__source"
    />
    <source
      srcset="./img/bose/girl-desk.webp 1x, ./img/bose/girl-desk@2x.webp 2x"
      media="(min-width: 1200px)"
      class="bose__source"
    />
    <img src="./img/bose/girl-mob.webp" alt="girl" class="bose__image" />
  </picture>
</section>
<section class="bose">
  <h2 class="bose__title">Bose AR</h2>
  <h3 class="bose__title--desc">Brand name technology</h3>
  <p class="bose__desc">
    Bose AR is a unique audio platform augmented reality, that opens before you
    new facets of sound. It allows you to stay connected to the real world and
    immerse yourself in the virtual universe at the same time.
  </p>
  <picture class="bose__picture">
    <source
      srcset="./images/bose/girl-mob.webp 1x, ./images/bose/girl-mob@2x.webp 2x"
      media="(min-width: 320px)"
      class="bose__source"
    />
    <source
      srcset="./images/bose/girl-tab.webp 1x, ./images/bose/girl-tab@2x.webp 2x"
      media="(min-width: 768px)"
      class="bose__source"
    />
    <source
      srcset="
        ./images/bose/girl-desk.webp    1x,
        ./images/bose/girl-desk@2x.webp 2x
      "
      media="(min-width: 1200px)"
      class="bose__source"
    />
    <img src="./i/bose/girl-mob.webp" alt="girl" class="bose__image" />
  </picture>
</section>
