<section class="design">
  <div class="container">
  <div class="design__content">
      
    <h2 class="design__title">Premium design <br> and comfort</h2>
    
    <ul class="design__list">
        <li class="design__item">
            <h3 class="design__subtitle">11 levels of noise reduction</h3>
            <p class="design__text">With the new Bose Noise Canceling <br> Headphone 700, you can smoothly <br> increase or decrease the level of noise <br> cancellation. You can be heard perfectly <br> and you hear the interlocutor clearly, even <br> in a noisy environment!</p>
        </li>
        <li class="design__item">
            <h3 class="design__subtitle">Comfort up to max level</h3>
            <p class="design__text">Stylish, lightweight stainless steel <br> headband with soft, angled cups of <br> headphones for comfortable seating. The <br> inner side is made of soft gel lining that fits <br> well to the head.</p>
        </li>
    </ul>
  </div>

    <picture>
          <source
            srcset="
              ./images/girl-lap.webp    1x,
              ./images/girl-lap@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/girl-tab.webp    1x,
              ./images/girl-tab@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/girl-mob.webp    1x,
              ./images/girl-mob@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 320px)"
          />
          <img
            src="./images/girl-mob.webp"
            alt="donut"
            width="280"
            height="293"
            class="design__img"
          />
        </picture>

  </div>
</section>
