<section class="footer">
  <div class="container">
    <nav class="footer__navigation">
      <ul class="footer__list">
        <li class="footer__item"><a class="footer__link" href="#">Characteristics</a></li>
        <li class="footer__item"><a class="footer__link" href="#">History</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Reviews</a></li>
      </ul>
      <ul class="footer__list--two">
        <li class="footer__item"><a class="footer__link" href="#">Payment and delivery</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Store addresses</a></li>
        <li class="footer__item"><a class="footer__link" href="#">FAQ</a></li>
      </ul>
    </nav>
  
  <address class="footer__address">
    <a class="footer__link--address" href="#">8 (800) 111-11-11</a>
  </address>
  </div>
</section>
