<section class="guarantees">
    <div class="container">
        <div class="guarantees__info">
            <h3 class="guarantees__title">GUARANTEES</h3>
            <ul class="guarantees__ul">
                <li class="guarantees__content">
                    <h4 class="guarantees__subtitle">90 Day Money
                        Back Guarantee</h4>
                    <p class="guarantees__text">If you are not 100% satisfied with a product, you can return it back for
                        a
                        full refund.</p>
                </li>
                <li class="guarantees__content">
                    <h4 class="guarantees__subtitle">1 year warranty</h4>
                    <p class="guarantees__text">Regardless of your country of residence, if your headphones are broken,
                        we
                        will send you new ones.</p>
                </li>
            </ul>
        </div>
        <!-- <use width="260" height="112">
            <svg href="../images/guarantees.svg"></svg>
        </use> -->
        <picture>
            <source srcset="./images/headphones-desk.webp" media="(min-width: 1024px)">
            <source srcset="./images/headphones-tab.webp" media="(min-width: 768px)">
            <source srcset="./images/headphones-mob.webp 1x, ./images/headphones-mob.webp 2x" media="(min-width: 320px)">
            <img class="guarantees__image" src="./images/headphones-tab.webp" alt="headphones"
                width="280"
                height="268"/>
        </picture>
    </div>
</section>