<header class="header">
  <div class="container">
    <img class="header__logo logo" src="./images/boselogo.svg" alt="logo" />
    <nav class="header__nav" id="nav">
      <img class="burger__logo" src="./images/boselogo.svg" alt="logo" />
      <ul class="header__nav--list">
        <li class="header__nav--list-item">
          <a class="header__nav--list-item-link" href="#design">Characteristics</a>
        </li>
        <li class="header__nav--list-item">
          <a class="header__nav--list-item-link" href="#history">History</a>
        </li>
        <li class="header__nav--list-item">
          <a class="header__nav--list-item-link" href="#review">Reviews</a>
        </li>
        <li class="header__nav--list-item">
          <a class="header__nav--list-item-link" href="#bose-nc"
            >Payment and delivery</a
          >
        </li>
      </ul>
    </nav>

    <div class="burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>

<section class="hero">
  <div class="container">
    <div class="hero__info">
      <p class="hero__info--p">
        Noise cancellation headphones <br />
        that are capable for a lot of things
      </p>
      <p class="hero__info--p">Up to 20 hours <br>of playback</p>
    </div>

    <h1 class="hero__title">Headphones <br />bose nc 700</h1>
    <div class="hero__wrapper">
      <button class="hero__btn">Order</button>

      <picture>
        <source
          srcset="./images/heropic-desk@1x.webp 1x,
                        ./images/heropic-desk@2x.webp 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/heropic-tab@1x.webp 1x,
                        ./images/heropic-tab@2x.webp 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset=" ./images/heropic-mob.webp 1x,
                     ./images/heropic-mob@2x.webp 2x"
          media="(min-width: 320px)"
        />
        <img class="hero__pic" src="./images/heropic-mob.webp" alt="mobpic"
        width="280" height="240" />
      </picture>
    </div>
  </div>
</section>

<script src="burger.js"></script>