<section class="review">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active review__indicators"
          aria-current="true"
          aria-label="Slide 1"
        >
          <p>01 <span>-</span></p>
        </button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
          class="review__indicators"
        >
          <p>02 <span>-</span></p>
        </button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
          class="review__indicators"
        >
          <p>03</p>
        </button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="review__card">
            <h2 class="review__title">REVIEWS</h2>
            <div class="review__box">
              <iframe
                class="review__video"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/VqP11Ma_2Fk?si=31UlAzAecdEWsKhC"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              >
              </iframe>
            </div>
            <div class="review__text">
              <h2 class="review__title review__title--desktop">REVIEWS</h2>
              <a
                href="https://www.youtube.com/watch?v=VqP11Ma_2Fk&ab_channel=Bose"
                class="review__link"
                >Bose Сorporation</a
              >
              <p class="review__description">
                Critically acclaimed for their powerful noise cancelling,
                astonishing sound, and unrivaled voice pickup, Bose Noise
                Cancelling Headphones 700 help turn any space into the perfect
                place to listen to music, get work done, or just shut out the
                world for a few moments and relax
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="review__card">
            <h2 class="review__title">REVIEWS</h2>
            <div class="review__box">
              <iframe
                class="review__video"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/BUyLpf-u97Y?si=y0lgPy6kTOrRRUZA"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
            <div class="review__text">
              <h2 class="review__title review__title--desktop">REVIEWS</h2>
              <a
                href="https://youtu.be/BUyLpf-u97Y?si=RkuLPuyBmxfv2ato"
                class="review__link"
                >Bose Сorporation
              </a>
              <p class="review__description">
                Bose Noise Cancelling Headphones 700 deliver everything you
                expect — and things you never imagined possible. The perfect
                balance of quiet, comfort, and sound
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="review__card">
            <h2 class="review__title">REVIEWS</h2>
            <div class="review__box">
              <iframe
                class="review__video"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/NgtznBDFRUo?si=jE1eddzH64vC0trT"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
            <div class="review__text">
              <h2 class="review__title review__title--desktop">REVIEWS</h2>
              <a
                href="https://youtu.be/NgtznBDFRUo?si=4EwVfLwpiWKV-uwd"
                class="review__link"
                >Bose Сorporation</a
              >
              <p class="review__description">
                Real stories of people tuning in or out to feel peace, find
                escape, and for self-care
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
